$font-family-base : "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base   : 14px;
$line-height-base : 1.428571429;
$body-bg          : rgb(255, 255, 255);
$text-color    : rgb(54,58,63);
$primary-color : #009688;
$bar-height    : 5px;
$content-bg    : rgb(254,254,254);

$break-point   : 768px;

$content-width : 420px;
$space-box     : 20px;