$font-family-base : "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base   : 14px;
$line-height-base : 1.428571429;
$body-bg          : rgb(255, 255, 255);
$text-color    : rgb(54,58,63);
$primary-color : #009688;
$bar-height    : 5px;
$content-bg    : rgb(254,254,254);

$break-point   : 768px;

$content-width : 420px;
$space-box     : 20px;

/**

	Inspiration:
	- http://www.materialup.com/posts/freelancers-for-hire
	- https://dribbble.com/shots/2488585-Freelancers-for-hire
	- https://dribbble.com/shots/1973956-Material-Designed-profile-app
	- https://dribbble.com/shots/2556418-Gradient-Profile-Cards/attachments/506290
	- https://dribbble.com/shots/2558042-Material-Facebook-Bro/attachments/506754
 */